.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background: #4281a4;
  color: #ffffff;
}

.qr-code {
  padding-top: 30px;
  height: 100px;
}

.qr-code img {
  height: 100%;
}

.colors {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.color-picker {
  width: 70px;
  height: 70px;
  border: 5px solid #ffffff;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
  border-radius: 10px;
  padding: 0;
  background: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.color-picker.active {
  border-color: #faf33e;
}

.color-red {
  background: #ba1200;
}

.color-blue {
  background: #345995;
}

.color-green {
  background: #618b4a;
}

.color-orange {
  background: #ee6c4d;
}

.cards {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100px;
  height: 150px;
  border: 5px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.7em;
  display: flex;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.card-big {
  width: 300px;
  height: 450px;
  font-size: 10em;
}

.full-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4281a4;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}

.show-overlay {
  opacity: 1;
  visibility: visible;
}
