.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #4281a4;
  color: #ffffff;
  padding: 5% 0;
}

.colors {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.color-picker {
  width: 70px;
  height: 70px;
  border: 5px solid #ffffff;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
  border-radius: 10px;
  padding: 0;
  background: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.color-picker.active {
  border-color: #faf33e;
}

.color-red {
  background: #ba1200;
}

.color-blue {
  background: #345995;
}

.color-green {
  background: #618b4a;
}

.color-orange {
  background: #ee6c4d;
}
